mixin navlink(name, url)
  li
    a( href=url )= name
nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      a.navbar-brand( href='#/home' ) AngularJS Example
    ul.nav.navbar-nav
      - each url, name in { 'Home': '#/home', 'Components': '#/components', 'ToDo list': '#/todo' }
        +navlink(name, url)
