doctype html
html
  head
    title x01d | AngularJs example
    
    // style
    link( rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.min.css' )
    link( rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap-theme.min.css' )
    
    // hithlight
    link( rel='stylesheet', href='highlight/github.css' )
    script( src='highlight/highlight.pack.js' )
    
    // scripts
    script( src='vendor/angular/angular.js' )
    script( src='vendor/angular-route/angular-route.js' )
    
    
    
    script( src='js/directives/code_directive.js' )
    script( src='js/directives/directives.js' )
    
    script( src='js/controllers/home_controller.js' )
    script( src='js/controllers/todo_controller.js' )
    script( src='js/controllers/controllers.js' )
    
    script( src='js/app.js' )
    
  body( ng-app='x01d' )
    include header
    .container
      ng-view
    
    include angular-templates
