doctype html
html
  head
    title x01d | AngularJs example
    
    // style
    link( rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap.min.css' )
    link( rel='stylesheet', href='vendor/bootstrap/dist/css/bootstrap-theme.min.css' )
    
    // scripts
    script( src='vendor/angular/angular.js' )
    script( src='vendor/angular-route/angular-route.js' )
    
    include angular-templates
  body
    include header
